# .gitignore
bin/
obj/
/obj/
.vscode/
.vs/
*.user
*.suo
*.userpref

# Archivos específicos para cada proyecto en la solución
UTNApitalleres/bin/
UTNApitalleres/obj/
UTNApitalleres.Data/bin/
UTNApitalleres.Data/obj/
UTNApitalleres.Model/bin/
UTNApitalleres.Model/obj/